@charset "UTF-8";

//Thanks: http://lifesinger.googlecode.com/svn/trunk/lab/2008/grids_test1.html
//Demo: http://codepen.io/airen/pen/HaiFu and http://codepen.io/airen/pen/bwBzq
//HTML结构
//Two Columns
// <div class="container">
//   <div class="col-main">
//     <div class="main-wrapper">main</div>
//   </div>
//   <div class="col-sub">sidebar</div>
// </div>
//Three Columns
// <div class="container">
//   <div class="col-main">
//     <div class="main-wrapper">main</div>
//   </div>
//   <div class="col-sub">sidebar</div>
//   <div class="col-extra">extra</div>
// </div>
//Use
// Fixed Width
// @include HolyGrail-layout(2,960px,190px,null,10px,".container",".col-main",".main-wrapper",".col-sub",null,"left",null);
// @include HolyGrail-layout(2,960px,190px,null,10px,".container",".col-main",".main-wrapper-right",".col-sub-right",null,"right",null);
// @include HolyGrail-layout(3,960px,190px,230px,10px,".container",".col-main",".main-wrapper",".col-sub",".col-extra","left","right");
// @include HolyGrail-layout(3,960px,190px,230px,10px,".container",".col-main",".main-wrapper",".col-sub",".col-extra","right","left");
// @include HolyGrail-layout(3,960px,190px,230px,10px,".container",".col-main",".main-wrapper",".col-sub",".col-extra","right","center");
// @include HolyGrail-layout(3,960px,190px,230px,10px,".container",".col-main",".main-wrapper",".col-sub",".col-extra","center","right");
// @include HolyGrail-layout(3,960px,190px,230px,10px,".container",".col-main",".main-wrapper",".col-sub",".col-extra","left","center");
// @include HolyGrail-layout(3,960px,190px,230px,10px,".container",".col-main",".main-wrapper",".col-sub",".col-extra","center","left");
// Fuild Width
// @include HolyGrail-layout(2,100%,190px,null,10px,".container",".col-main",".main-wrapper",".col-sub",null,"left",null);
// @include HolyGrail-layout(3,100%,190px,320px,10px,".container",".col-main",".main-wrapper",".col-sub",".col-extra","right","left");

@mixin HolyGrail-layout(
    $colNum,//定义列数
    $container-width,//容器宽度，如果是自适应，取值为100%
    $col-sub-width,//sub侧栏宽度
    $col-extra-width,//extra侧栏宽度
    $col-gutter,//列与列间距
    $container-selector:unquote(".container"),
    $col-main-selector:unquote(".col-main"),
    $col-main-wrapper-selector:unquote(".main-wrapper"),
    $col-sub-selector:unquote(".col-sub"),
    $col-extra-selector:unquote(".col-extra"),
    $col-sub-direction:"left",
    $col-extra-direction:null
) {
    %pull-left-helper {
        position: relative;
        float: left;
    }
    %container-selector-helper {
        &::after, &::before {
            display: table;
            content: "";
        }

        &::after {
            clear: both;
        }

        & {
            width: $container-width;
            margin-right: auto;
            margin-left: auto;
            zoom: 1;
        }
    }

    %col-sub-selector-helper {
        width: $col-sub-width;
        @extend %pull-left-helper;
    }

    %col-main-wrapper-selector-helper {
        min-height: 1%;
    }
    %col-extra-helper {
        width: $col-extra-width;
        @extend %pull-left-helper;
    }
    #{$container-selector} {
        @extend %container-selector-helper;
    }
    #{$col-main-selector} {
        width: 100%;
        @extend %pull-left-helper;
    }
    #{$col-main-wrapper-selector} {
        @extend %col-main-wrapper-selector-helper;
    }
    //两列布局
    @if $colNum == 2 {
        #{$col-sub-selector} {
            @extend %col-sub-selector-helper;
            @if $col-sub-direction == "left" {
                margin-left: -100%;
            }
            @else {
                margin-left: -$col-sub-width;
            }
        }

        #{$col-main-wrapper-selector} {
            @if $col-sub-direction == "left" {
                margin-left: $col-sub-width + $col-gutter;
            }
            @else {
                margin-right: $col-sub-width + $col-gutter;
            }
        }
    }
    //extra边栏存在
    @if $col-extra-direction != "null" {
        @if $colNum == 3 {
            #{$col-sub-selector} {
                @extend %col-sub-selector-helper;
            }
            #{$col-extra-selector} {
                @extend %col-extra-helper;
            }
            @if $col-sub-direction == "left" and $col-extra-direction == "right" {
                #{$col-sub-selector} {
                    margin-left: -100%;
                }
                #{$col-extra-selector} {
                    margin-left: -$col-extra-width;
                }
                #{$col-main-wrapper-selector} {
                    margin-right: $col-extra-width + $col-gutter;
                    margin-left: $col-sub-width + $col-gutter;
                }
            }
            @else if $col-sub-direction == "right" and $col-extra-direction == "left" {
                #{$col-sub-selector} {
                    margin-left: -$col-sub-width;
                }
                #{$col-extra-selector} {
                    margin-left: -100%;
                }
                #{$col-main-wrapper-selector} {
                    margin-right: $col-sub-width + $col-gutter;
                    margin-left: $col-extra-width + $col-gutter;
                }
            }
            @else if $col-sub-direction == "right" and $col-extra-direction == "center" {
                #{$col-sub-selector} {
                    margin-left: -$col-sub-width;
                }
                #{$col-extra-selector} {
                    margin-left: -($col-sub-width + $col-extra-width + $col-gutter);
                }
                #{$col-main-wrapper-selector} {
                    margin-right: $col-sub-width + $col-extra-width + $col-gutter * 2;
                }
            }
            @else if $col-sub-direction == "center" and $col-extra-direction == "right" {
                #{$col-sub-selector} {
                    margin-left: -($col-sub-width + $col-extra-width + $col-gutter);
                }
                #{$col-extra-selector} {
                    margin-left: -$col-extra-width;
                }
                #{$col-main-wrapper-selector} {
                    margin-right: $col-sub-width + $col-extra-width + $col-gutter * 2;
                }
            }
            @else if $col-sub-direction == "left" and $col-extra-direction == "center" {
                #{$col-sub-selector} {
                    margin-left: -100%;
                }
                #{$col-extra-selector} {
                    left: $col-sub-width + $col-gutter;
                    margin-left: -100%;
                }
                #{$col-main-wrapper-selector} {
                    margin-left: $col-sub-width + $col-extra-width + $col-gutter * 2;
                }
            }
            @else if $col-sub-direction == "center" and $col-extra-direction == "left" {
                #{$col-sub-selector} {
                    left: $col-extra-width + $col-gutter;
                    margin-left: -100%;
                }
                #{$col-extra-selector} {
                    margin-left: -100%;
                }
                #{$col-main-wrapper-selector} {
                    margin-left: $col-sub-width + $col-extra-width + $col-gutter * 2;
                }
            }
            @else {
                @warn "Don't Output Layout!";
            }
        }
    }
}
